@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

::-webkit-scrollbar {
  background: var(--color-white);
  width: 3px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: var(--color-black);
  border-radius: 15px;
}

/* Áp dụng cho mọi trình duyệt */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  @apply tracking-[2px];
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 700ms;
}

button {
  cursor: pointer;
}

.page-transition {
  opacity: 0;
  background: white;
  transform: translateY(100px);
  filter: blur(12px);
}

header:before {
  content: "";
  background: linear-gradient(90deg, #0000, #271e37, #0000);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hoverFuc::before {
  content: "";
  background: red;
  height: 21px;
  width: 7px;
  border-radius: 10px;
  position: absolute;
  left: -11px;
  top: 4px;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms ease;
}

.hoverFuc:hover::before {
  opacity: 1;
}

.Typewriter {
  display: inline-block;
}
.Typewriter p {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(0, 0, 0);
  animation: typing 3s steps(9), cursor 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@layer utilities {
  .inputBox {
    @apply relative flex flex-col;
  }
  .inputTag {
    @apply bg-transparent border h-[45px] leading-[45px] border-slate-500 p-3 rounded-md outline-none text-zinc-800;
  }

  .inputTag:valid,
  .inputTag:focus {
    @apply border-teal-400;
  }

  .inputTag ~ span {
    @apply absolute transform translate-x-[20px] translate-y-[-10px] text-[13px] py-0 text-slate-500 bg-white border-slate-500 border font-medium p-[12px] h-fit rounded-sm tracking-[2px] pointer-events-none duration-700;
  }
  .inputTag:valid ~ span,
  .inputTag:focus ~ span {
    @apply text-white bg-teal-400 border-teal-400;
  }

  .inputTagBug {
    @apply border-rose-400 h-[45px] leading-[45px] border outline-none p-3 rounded-md text-rose-500;
  }
  .inputTagBug ~ span {
    @apply absolute transform translate-x-[20px] translate-y-[-10px] text-[13px] py-0 text-white bg-rose-400 border-rose-400 border font-medium p-[12px] h-fit rounded-sm tracking-[2px] pointer-events-none duration-700;
  }

  .inputTagBug:valid ~ span,
  .inputTagBug:focus ~ span {
    @apply text-white transform translate-x-[17px] h-fit rounded-sm translate-y-[-10px] text-[13px] py-0 bg-rose-400 tracking-[3px];
  }
}

@layer utilities {
  .boxLogRes {
    @apply relative tracking-[3px] flex w-full h-[38px] text-white leading-[38px] font-semibold gap-x-5 whitespace-nowrap;
  }

  .boxLogRes .styleLogin:hover {
    @apply bg-amber-400;
  }
  .boxLogRes .styleRes:hover {
    @apply bg-stone-700;
  }
  .boxLogRes .styleLogin {
    @apply w-full h-full text-center transition-colors flex items-center justify-center duration-700 bg-amber-500 rounded-md cursor-pointer;
  }
  .boxLogRes .styleRes {
    @apply bg-black px-3 flex w-fit h-full items-center justify-center text-center transition-colors duration-700 rounded-md cursor-pointer;
  }
}

.notification-box {
  position: absolute;
  top: 100%;
  right: 0;
  width: 370px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  border-radius: 12px;
  border-top-right-radius: 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  z-index: 999;
}

.notification-container .bell-ring-animate {
  animation: shake 1s forwards infinite;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  35% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
